* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    outline: none;
}
body {
    background: url('got.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
